
.home-container {
	font-family: 'Sora', sans-serif;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

/* .main-content {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
} */

.home-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: #ebd278;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left:100px;
	padding-right: 100px; */
	/* opacity: 1; */
}

.home-title-text {
	font-size: 80px;
	padding-bottom: 15px;
	color: white;
}

.hero {
	background-image: url('https://images.unsplash.com/photo-1563865436874-9aef32095fad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80');
	background-position: center top;
	background-size: cover;
	padding: 250px;
	margin: 30px;
	font-family: 'Trebuchet MS', 'Georgia';
    text-decoration: none;
}
.home-navigate {
	text-align: center;
	margin-top: 25px;
}
.home-button {
	white-space: nowrap;
    font-size: 40px;
    text-decoration: none;
    background-color: #63a26e;
	border-radius: 10px;
    color: white;
	padding: 10px;
    /* padding: 50px 90px 50px 90px; */
}

.image-container {
	background-image: url('https://images.unsplash.com/photo-1563865436874-9aef32095fad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80');
	background-size: cover; 
	content: ""; 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: -2; 
	opacity: 0.4; 
	/* opacity: 0.4; */
}

.overlay-container {
	content: ""; 
	display: block; 
	position: absolute;
	background-color: black; 
	top: 155px; 
	left: 0; 
	width: 100%; 
	height: 65%; 
	z-index: -1; 
	opacity: 0.7; 
}
